<% provide(:title, "Attendance_edit") %>

<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <thead>
    <tr>
      <th rowspan="1" class="table-header">日付</th>
      <th rowspan="1" class= "table-header">曜日</th>
      <th colspan="1" class="table-header">出社</th>
      <th colspan="1" class="table-header">退社</th>
      <th rowspan="1" class="table-header">在社時間</th>
      <th rowspan="1" class="table-header">備考</th>
    </tr>
  </thead>

  <tbody class="table-header">
    <%= form_for @user, :url => {:action => 'attendance_display'} do |f| %>
     <%(@first_day..@last_day).each do |date|%> 
     <% wday  = %w[日 月 火 水 木 金 土]%> 
     <% youbi = wday[Time.local(date.year, date.month, date.day).wday]%>
    
      <tr>
      <!--月の日付を取得-->
      <td class="table-body">
          <%="#{date.month}/#{date.day}"%>
      </td>   

    　<!--曜日を取得-->   
      <td class="table-body">
          <%="#{youbi}"%>
      </td>
      
      <!--出勤時間 -->
      <td class="table-body">
        <%= f.datetime_select :attendance_time_edit, 
            {discard_year: true, discard_month: true, discard_day: true, include_blank: true}, 
            {class: "form-control datetime-width"} %>
      </td>
    
      <!--退社時間 -->  
      <td class="table-body">
        <%= f.datetime_select :leaving_time_edit, 
            {discard_year: true, discard_month: true, discard_day: true, include_blank: true}, 
            {class: "form-control datetime-width"} %>
      </td>
      
       <!-- 在社時間の表示  -->
      <td class="table-body">
        
      </td>
      
       <!-- 備考の表示  -->
      <td class="table-body">
        <%= f.text_field :remarks, class: 'form-control'%> 
      </td>
    </tr>
    <% end %>
  </tbody>
  　 
</table>  

<div class="center">
    <%= submit_tag "編集を保存する", style:"width:300px", class: "btn btn-lg btn-primary" %>
</div>
      <% end %>   