<% provide(:title, "Attendance_display") %>

<table class="txt1 table table-bordered table-striped table-condensed table-status">
  <tr>
   <th class="table-header">
     <%=link_to "⬅️", attendance_display_path(first_day: @first_day.prev_month),
        class: 'btn btn-default btn-primary'%>
     <%= @first_day.strftime("%Y年%m月")%>
     <%=link_to "➡️", attendance_display_path(first_day: @first_day.next_month),
        class: 'btn btn-default btn-primary'%>
   </th>
   <th class="table-header">指定労働時間</th>
   <th class="table-header" colspan="3">基本時間</th>
   <th class="table-header">初日 <%= @first_day.strftime("%m/%d") %></th>
  </tr>

   <tr>
      <th class="table-header">所属 <%= @user.affiliation %></th>
      <th class="table-header">氏名 <%= @user.name %></th>
      <th class="table-header">コード</th>
      <th class="table-header"></th>
oubi}"%>
      </td>
  
       <!-- 出社時間の表示  -->

      <td class="table-body">
        <%= @user.attendance_time.hour if !@user.attendance_time.nil? %>
      </td>

       <td class="table-body">
         <%= @user.attendance_time.min if !@user.attendance_time.nil? %>
       </td>
      
       <td class="table-body">
            <!-- 自身の勤怠で出社時間と退社時間が空なら表示  -->
            <% if current_user == @user && @user.attendance_time.nil? && @user.leaving_time.nil? && date == Date.today%>
              <%= form_for @user, :url => {:action => 'attendance_display'} do |f| %>
                <%= f.submit "出社", class: "btn btn-primary" %>
              <% end %>
            <% end %>
       </td>
 
        <!-- 退社時間の表示  -->
       <td class="table-body">
            <%= @user.leaving_time.hour if !@user.leaving_time.nil? %>
       </td>      
    
      <!-- 在社時間の表示  -->      
      <td>
      </td>
      
      <td>
      </td>
      
      <!--備考-->>
      <td>
        <%= @user.remarks %>  
      </td>
      
      <td>
     
      </td>
   
     <% end %>   
    </tr>
  </tbody>
    
</table>  