<% provide(:title, "Edit user") %>
<h1>アカウント情報の更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :所属 %>
      <%= f.text_field :affiliation, class: 'form-control' %>

      <%= f.label :employee_number, "社員番号"%>
      <%= f.number_field :employee_number, class: 'form-control' %>

      <%= f.label :card_id,"カードID" %>
      <%= f.text_field :card_id, class: 'form-control' %>

      <%= f.label :basic_work_time, "基本勤務時間"%>
      <%= f.time_field :basic_work_time, class: 'form-control' %>

      <%= f.label :specified_work_start_time, "指定勤務開始時間"%>
      <%= f.time_field :specified_work_start_time, class: 'form-control' %>

      <%= f.label :specified_work_end_time, "指定勤務終了時間"%>
      <%= f.time_field :specified_work_end_time, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "編集", class: "btn btn-primary" %>
    <% end %>

<!-- 
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">画像変更</a>
    </div> 
-->

  </div>
</div>