<% provide(:title, @user.name) %>

<table class="table table-bordered table-striped table-condensed">
  <thead>
   <div class = "header"> 
    <tr>
      <th class="table-header">
        <%= link_to "◀︎", user_url(params: { id: @user.id, first_day: @first_day.prev_month }), 
            style:"color:white", class: 'btn btn-default btn-primary' %>  
            　<%= @first_day.strftime("%Y年%m月") %>　時間管理表　
        <%= link_to "▶︎", user_url(params: { id: @user.id, first_day: @first_day.next_month }), 
            style:"color:white", class: 'btn btn-default btn-primary' %>
     </th>
      <th class="table-header">
        指定勤務開始時間<%= format("%.2f", ((@user.specified_work_start_time.hour*60.0) + @user.specified_work_start_time.min)/60) if !@user.specified_work_start_time.blank? %>
        <br>
        指定勤務終了時間<%= format("%.2f", ((@user.specified_work_end_time.hour*60.0) + @user.specified_work_end_time.min)/60) if !@user.specified_work_end_time.blank? %>
      </th>
      <th colspan="3" class="table-header">基本時間 
      <%= format("%.02d", @user.basic_work_time.hour)%>:<%= format("%.02d",@user.basic_work_time.min) if !@user.basic_work_time.blank? %></th>
      </th>
      <th class="table-header">初日  <%= @first_day.strftime("%m/%d") %></th>
    </tr>
    <tr>
      
      <th class="table-header">所属　<%= @user.affiliation %> </th>
      <th class="table-header">氏名　<%= @user.name %></th>
      <th class="table-header">社員番号</th></th>
      <th class="table-header"><%= @user.employee_number %></th>
      <th class="table-header">出勤日数　<%= @attendance_days %>日</th>
      <th class="table-header">締め　<%= @last_day.strftime("%m/%d") %></th>
    </tr>
  </div>  
  </thead>
</table>

<!--attendance_edit_pathに、userのidと今月の値を渡す-->
<%= link_to "勤怠を編集", attendance_edit_url(@attendance, params: { id: @user.id, first_day: @first_day }), 
                          :style=>"color:white;", class: "btn btn-sm btn-primary"   %>
<%= link_to "CSV", attendance_table_path(@attendance, params: { id: @user.id, first_day: @first_day, format: :csv}),
                          :style=>"color:white;", class: "btn btn-sm btn-primary", id: "csv" if current_user == @user%>
<%= link_to "勤怠修正ログ(承認済)", attendance_table_path(@attendance, params: { id: @user.id, first_day: @first_day, format: :csv}),
                          :style=>"color:white;", class: "btn btn-sm btn-primary" if current_user == @user%>

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th rowspan="3" class="table-header">残業申請</th>
      <th rowspan="3" class="table-header">日付</th>
      <th rowspan="3" class="table-header">曜日</th>
      <th colspan="8" class="table-header">【実績】</th>
      <th colspan="5" class="table-header">所定外勤務</th>
    </tr>
    <tr>
      <th colspan="3" class="table-header">出社</th>
      <th colspan="3" class="table-header">退社</th>
      <th rowspan="2" class="table-header">在社時間</th>
      <th rowspan="2" class="table-header">備考</th>
      <th colspan="2" class="table-header">終了予定時刻</th>
      <th rowspan="3" class="table-header">時間外時間</th>
      <th rowspan="3" class="table-header">業務処理内容</th>
      <th rowspan="3" class="table-header">指示者確認㊞</th>
    </tr>
    
    <tr>    
     <th             class="table-header">時</th>
     <th             class="table-header">分</th>
     <th             class="table-header">  </th>
     <th             class="table-header">時</th>
     <th             class="table-header">分</th>
     <th             class="table-header">  </th>
     <th             class="table-header">時</th>
     <th             class="table-header">分</th>
    </tr>
  </thead>
    
  <tbody>
    <!-- users_controller.rbの@attendancesの中身を見にいく-->
    <% @attendances.each do |attendance| %>
      <%= form_for(attendance, url: attendance_update_path ) do |f| %>
      <%= f.hidden_field :user_id, :value => "#{@user.id}"%>
      <%= f.hidden_field :id, :value => "#{attendance.id}"%>
        <tr>
          <!--残業申請-->
          <td class="table-body">
            <div class="inline-applicatioins">
              <%  if current_user == @user %>
                <a style="color:white; " class= "btn btn-sm btn-primary" data-toggle="modal" data-target="#<%= attendance.id %>">残業申請</a>
              <% end %>
            </div>
          </td>
     　　　  <!--日付-->
          <td class="table-body"><%= attendance.day.month %>/<%= attendance.day.day %></td>
          <!--曜日-->
          <td class="table-body"><%= @youbi[attendance.day.wday] %></td>
          <!-- 出社時間の表示  -->
          <td class="table-body">
            <%= attendance.attendance_time.hour if !attendance.attendance_time.nil? %>
          </td>
          <td class="table-body">
            <%= attendance.attendance_time.min if !attendance.attendance_time.nil? %>
          </td>
          <td class="table-body">
            <!-- 自身の勤怠で出社時間と退社時間が空なら表示  -->
            <% if current_user == @user && attendance.attendance_time.nil? && attendance.leaving_time.nil? && attendance.day == Date.today %>
              <%= f.hidden_field :update_type, :value => "attendance_time"%>
              <%= f.submit "出社", class: "btn btn-sm btn-primary" %>
            <% end %>
          </td>

          <!-- 退社時間の表示  -->
          <td class="table-body">
            <%= attendance.leaving_time.hour if !attendance.leaving_time.nil? %>
          </td>
          <td class="table-body">
            <%= attendance.leaving_time.min if !attendance.leaving_time.nil? %>
          </td>
          <td class="table-body">
            <!-- 出社時間入力済みかつ退社時間が空なら表示  -->
            <% if current_user == @user && !attendance.attendance_time.nil? && attendance.leaving_time.nil? && attendance.day == Date.today %>
              <%= f.hidden_field :update_type, :value => "leaving_time"%>
              <%= f.submit "退社", class: "btn btn-sm btn-primary" %>
            <% end %>
          </td>
          
          <!-- 在社時間の表示  -->
          <td class="table-body">
            <% if !attendance.attendance_time.nil? && !attendance.leaving_time.nil? %>
              <%= format("%.02d",attendance.leaving_time.hour - attendance.attendance_time.hour) %>:<%= format("%.02d",attendance.leaving_time.min - attendance.attendance_time.min)%>
            <% end %>
          </td>

          <!-- 備考の表示  -->
          <td class="table-body">
            <% if !attendance.remarks.nil? %>
              <%= attendance.remarks %>
            <% end %>
          </td>
          
          <!-- 終了予定時刻  -->
          <td class="table-body">
            <%= attendance.expected_end_time.hour if !attendance.expected_end_time.nil? %>
          </td>
          <td class="table-body">
            <%= attendance.expected_end_time.min if !attendance.expected_end_time.nil? %>
          </td>

          <!-- 時間外時間  -->
          <td class="table-body">
            <% if !@user.specified_work_end_time.blank? && !attendance.expected_end_time.blank? %>
              <% if (Time.new(attendance.expected_end_time.year, 
                      attendance.expected_end_time.month, 
                      attendance.expected_end_time.day, 
                      attendance.expected_end_time.hour, 
                      attendance.expected_end_time.min) - 
                      Time.new(attendance.day.year, 
                      attendance.day.month, attendance.day.day, 
                      @user.specified_work_end_time.hour, 
                      @user.specified_work_end_time.min)) > 0 %>
                <%= format("%.2f", (Time.new(attendance.expected_end_time.year, 
                      attendance.expected_end_time.month, 
                      attendance.expected_end_time.day, 
                      attendance.expected_end_time.hour, 
                      attendance.expected_end_time.min) - 
                      Time.new(attendance.day.year, attendance.day.month, 
                      attendance.day.day, @user.specified_work_end_time.hour, 
                      @user.specified_work_end_time.min))/3600) %>
              <% end %>
            <% end %>        
          </td>

          <!-- 業務処理内容  -->
          <td class="table-body">
            <% if !attendance.business_content.nil? %>
              <%= attendance.business_content %>
            <% end %>
          </td>

          <!-- 指示者確認㊞  -->
          <td class="table-body">
            <% if attendance.applying? %>
              残業申請中
            <% end %>  
          </td>
          
        </tr>
      <% end %>
    <% end %>

    <tr>
      <td colspan="1" class="table-body">
        基本時間合計→
      </td>
      <td colspan="2" class="table-body"> 
        <%= format("%.02d",@attendance_sum_hour)%>:<%= format("%.02d",@attendance_sum_min) %>
      </td>
      <td colspan="3" class="table-body"></td>
      <td colspan="3" class="table-body">
        在社時間合計→
      </td>
      <td class="table-body">
        <%= format("%.02d",@work_sum_hour)%>:<%= format("%.02d",@work_sum_min) %>
      </td>
      <td colspan="5" class="table-body"></td>
      <td class="table-body">
        <%= User.find_by(id: 2).name %>へ申請中
      </td>
    </tr>
  </tbody>
</table>



<!--残業申請-->
<!--モーダルダイアログ-->
<% @attendances.each do |attendance| %>
 <div class="modal fade" id="<%= attendance.id %>" class="white-popup mfp-with-anim mfp-hide">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     <div class="modal-header" align="center">
      <h3>【残業申請】</h3>
     </div>
    <div class="modal-body">
    <%= form_for(attendance, url: oneday_overtime_path, method: :post ) do |f| %>
      <%= f.hidden_field :user_id, :value => "#{@user.id}"%>
      <%= f.hidden_field :id, :value => "#{attendance.id}"%>
      <%= f.hidden_field :first_day, :value => @first_day %>
      <table class="table table-bordered table-striped table-condensed">
        <thead>
          <tr>
            <th class="table-header">日付</th>
            <th class="table-header">曜日</th>
            <th class="table-header">終了予定時間</th>
            <th class="table-header">翌日</th>
            <th class="table-header">業務処理内容</th>
            <th class="table-header">指示者確認㊞</th>
          </tr>
        </thead>
        
        <tbody>
          <!--日付-->
            <td class="table-body"><%= attendance.day.month %>/<%= attendance.day.day %></td>
          <!--曜日-->
            <td class="table-body"><%= @youbi[attendance.day.wday] %></td>
          <!-- 終了予定時間の表示  -->
            <td class="table-body">
              <%= f.datetime_select :expected_end_time,
              {discard_year: true, discard_month: true, discard_day: true, include_blank: true},
              {class: "form-control datetime-width"} %>
            </td>  
          <!-- 翌日の表示 -->
            <td class="table-body checkbox">
              <%= check_box_tag :check %>
            </td>
          <!--業務処理内容-->    
            <td class="table-body">
              <%= f.text_field :business_content, class: 'form_control' %>
            </td>
          <!--指示者確認㊞の表示-->  
            <td class="table-body">
               <% if attendance.applying? %>
                 
                 <%= @superior_users1 %>へ申請中
               <% end %>   
              
               <%= f.collection_select :authorizer_user_id, 
                  @superior_users, :id, :name,
                  {:include_blank => true, :selected => 0}, 
                  {:class => "form-control authorizer_user_id"} %>
            </td>
        </tbody>
      </table>
      	</div>
      <div class="modal-footer center">
			<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      <%= f.submit "変更を送信する", style:"width:130px", class: "btn btn-primary" %>
			</div>
   <% end %>    
      </div>
      </div>
    </div>
  </div>
<% end %>

<script>
    $('#csv').click(function(){
       if(!confirm('csvを出力しますか？')){
              /* キャンセルの時の処理 */
              return false;
      　}else{
            /*　OKの時の処理 */
    　　}
    });
</script>