<% provide(:title, @user.name) %>

<%= form_for(@user, url: update_all_path, method: :post) do |fb| %>
  <%= hidden_field_tag :id, @user.id %>
  <%= hidden_field_tag :first_day, @first_day %>


  <table class="txt1 table table-bordered table-striped table-condensed table-status">
    <thead>
    <tr>
      <th rowspan="1" class="table-header">日付</th>
      <th rowspan="1" class="table-header">曜日</th>
      <th colspan="1" class="table-header">出社</th>
      <th colspan="1" class="table-header">退社</th>
      <th rowspan="1" class="table-header">在社時間</th>
      <th rowspan="1" class="table-header">備考</th>
    </tr>
  </thead>
    
    <tbody>
      　  <% @attendances.each do |attendance| %>
          <%= fields_for("attendance[]", attendance) do |f| %>
            <tr>
              <td class="table-body"><%= attendance.day.month %>/<%= attendance.day.day %></td>
              <td class="table-body"><%= @youbi[attendance.day.wday] %></td>
              
                <!-- 出社時間の表示  -->
                <td class="table-body">
                   <%= f.datetime_select :attendance_time, 
                     {discard_year: true, discard_month: true, discard_day: true, include_blank: true}, 
                     {class: "form-control datetime-width"} %> 
                </td>
                
                <!-- 退社時間の表示  -->
                <td class="table-body">
                  <%= f.datetime_select :leaving_time, 
                    {discard_year: true, discard_month: true, discard_day: true, include_blank: true}, 
                    {class: "form-control datetime-width"}  %>
                </td>
              
              
              <!-- 在社時間の表示  -->
              <td class="table-body">
                <% if !attendance.attendance_time.nil? && !attendance.leaving_time.nil? %>
                  <%= format("%.2f", (attendance.leaving_time - attendance.attendance_time)/3600) %>
                <% end %>
              </td>
              
              <!-- 備考の表示  -->
              <td class="table-body">
                <%= f.text_field :remarks, class: 'form-control'%>
              </td>
            </tr>
        <% end %>
     <% end %>  
    </tbody>
  </table>
  <div class="center">
      <%= link_to "キャンセル", user_url(@user, params: { id: @user.id, first_day: @first_day }),
                style:"width:200px; color:white", class:"btn btn-lg btn-primary" %>
      <%= fb.submit "編集", style:"width:200px", class: "btn btn-lg btn-primary" %>
  </div>
   <% end %>    