<% provide(:title, @user.name) %>

<%= form_for(@user, url: update_all_path, method: :post) do |fb| %>
<!--update_all_pathに、userのidと今月の値を渡す-->
  <%= hidden_field_tag :id, @user.id %>
  <%= hidden_field_tag :first_day, @first_day %>

  <table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
      <th rowspan="1" class="table-header">日付</th>
      <th rowspan="1" class="table-header">曜日</th>
      <th colspan="1" class="table-header">出社</th>
      <th colspan="1" class="table-header">退社</th>
      <th rowspan="1" class="table-header">在社時間</th>
      <th rowspan="1" class="table-header">備考</th>
    </tr>
  </thead>
    
    <tbody>
        <!-- attendance_controller.rbの@attendancesの中身を見にいく-->
      　  <% @attendances.each do |attendance| %>
      　 <!--一括申請：参考URL https://rails.densan-labs.net/form/bulk_registration_form.html--> 
          <%= fields_for("attendance[]", attendance) do |f| %>
            <tr>
              <!--日付-->
              <td class="table-body"><%= attendance.day.month %>/<%= attendance.day.day %></td>
              <!--曜日-->
              <td class="table-body"><%= @youbi[attendance.day.wday] %></td>
              
                <!-- 出社時間の表示  -->
              <td class="table-body">
                 <%= f.datetime_select :attendance_time, 
                   {discard_year: true, discard_month: true, discard_day: true, include_blank: true}, 
                   {class: "form-control datetime-width"} %> 
              </td>
                
              <!-- 退社時間の表示  -->
              <td class="table-body">
                <%= f.datetime_select :leaving_time, 
                  {discard_year: true, discard_month: true, discard_day: true, include_blank: true}, 
                  {class: "form-control datetime-width"}  %>
              </td>
              
              <!-- 在社時間の表示  -->
              <td class="table-body">
                <% if !attendance.attendance_time.nil? && !attendance.leaving_time.nil? %>
                   <%= format("%.02d",attendance.leaving_time.hour - attendance.attendance_time.hour) %>:<%= format("%.02d",attendance.leaving_time.min - attendance.attendance_time.min)%>
                <% end %>
              </td>
              
              <!-- 備考の表示  -->
              <td class="table-body">
                <%= f.text_field :remarks, class: 'form-control'%>
              </td>
            </tr>
        <% end %>
     <% end %>  
    </tbody>
  </table>
  <div class="center">

      <!--user_urlにて、当該ユーザーの今月月を表示-->
      <%= link_to "キャンセル", user_url(@user, params: { id: @user.id, first_day: @first_day }),
                style:"width:200px; color:white", class:"btn btn-lg btn-primary" %>
      <%= fb.submit "編集", style:"width:200px", class: "btn btn-lg btn-primary" %>
  </div>
   <% end %>    